/** * Design Elements - additional  CSS for the xsSnipper plugin * 
 ** @author Taggic <taggic@t-online.de> */
/* ----- General Elements ---------- */

  div.xssnipper {
    border: 1px dashed #a0a0a0;
    background: #f0f0f0;
  	border-radius:               5px;
  	box-shadow:         3px 3px #CECECE;

  }
  
  div.xssnipper ol {
    background: #f0f0f0;
    margin:0px;
    padding:10px 0 5px 0;
    font: italic 1em Calibri, Times, serif;
    color: #a0a0a0 !important;
  }
  
  div.xssnipper li {
    background: #ffffff;
  	margin-left:0px;
  	padding-left:20px;
  }
  
  div.xssnipper p {
  	font: normal .8em Arial, Helvetica, sans-serif;
  	color: #000000;
  	padding:5px 0;
  	margin:0px;
  }
  
  table.xssnipper {
    background:#f0f0f0 !important;
    border: 1px dashed #a0a0a0;
    max-width: 100% !important;
  }
  table.xssnipper pre {
    border: 0  !important;
  }
  
.img_clipclap {
  background-image:url(images/enfold.png);
  background-repeat:no-repeat;
  height:19px;
  background-position: 0 0;
  margin-left: 2em;
  }